<main>
  <header>
    <h1>CEE</h1>
    <span>Catalogo das experiências de ecossocioeconomia</span>
  </header>

  <section>
    <aside>
      <h3>Bem vindo ao catologo de experiências ecossocioeconomicas</h3>
    </aside>

    <div class="login-form">
      <form>
        <div class="input-usuario">
          <div class="usuario">Usuário</div>
          <input type="text">
        </div>
        <div class="input-senha">
          <div class="senha">Senha</div>
          <input type="password">
        </div>

        <a [routerLink]="['/professor']">Entrar</a>
      </form>
    </div>
  </section>
</main>

