<main>
  <header>
    <h1>CEE</h1>
    <span>Catalogo das experiências de ecossocioeconomia</span>

    <a [routerLink]="['/']">Voltar</a>
  </header>

  <section>
    <div class="cadastro-formularios">
      <a [routerLink]="['/formularios']">Cadastro de Formulários</a>
    </div>

    <div class="cadastro-alunos">
      <a [routerLink]="['/alunos']">Cadastro de Alunos</a>
    </div>

    <div class="validar-formulario">
      <a [routerLink]="['/validar-form']">Validar Formulário</a>
    </div>
  </section>
</main>
